* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}

h2,
h3,
span,
input {
	font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

body {
	background: linear-gradient(45deg, rgb(95, 95, 192) 2%,
			rgb(149, 184, 213) 29%,
			rgb(106, 111, 179) 91%);
}

.container {
	width: 270px;
	height: 440px;
	margin: 65px auto;
	border-radius: 5px;
	background: rgb(237, 235, 241);
	background: linear-gradient(10deg, rgba(237, 235, 241, 1) 25%,
			rgba(244, 244, 244, 1) 0%,
			rgb(142, 144, 201) 90%);
	-webkit-box-shadow: 6px 5px 30px 5px rgba(67, 66, 66, 0.84);
	box-shadow: 6px 5px 30px 5px rgba(59, 58, 58, 0.84);
}

h2 {

	font-size: 1.25rem;
	color: #fff;
	text-align: center;
	padding: 10px 0;
}

.box {
	width: 220px;
	height: 80px;
	background: #fff;
	margin: 0 auto;
	border-radius: 10px;
}

.box:nth-child(2) {
	margin-bottom: 10px;
}

span {
	font-size: 1rem;
	font-weight: bold;
	color: #5e3970;
	margin: 0 2px 0 10px;
}

.ajuste {
	margin-left: 7px;
}

input {
	font-size: 1rem;
	font-weight: 700;
	color: #5e3970;
	text-align: center;
	width: 140px;
	margin: 20px 0;
	padding: 10px 5px;
	border: none;
	background: #f0f5fd;
	opacity: 0.8;
	border-radius: 5px;
}

::-webkit-input-placeholder {
	color: #c0b4c6;
	opacity: 0.7;
	font-weight: normal;
}

:-moz-placeholder {
	/* Firefox 18- */
	color: #c0b4c6;
	opacity: 0.7;
	font-weight: normal;
}

::-moz-placeholder {
	/* Firefox 19+ */
	color: #c0b4c6;
	opacity: 0.7;
	font-weight: normal;
}

:-ms-input-placeholder {
	color: #c0b4c6;
	opacity: 0.7;
	font-weight: normal;
}


.btn {
	font-size: 0.875rem;
	font-weight: 700;
	text-transform: uppercase;
	display: block;
	width: 220px;
	height: 40px;
	margin: 10px auto;
	border-radius: 10px;
	border: none;
	cursor: pointer;
	background: #35014f;
	color: #fff;
}

.btn:hover {
	background: #4b1167;
	transition: 0.3s ease;
}

h3 {
	color: #5e3970;
	text-align: center;
}

h3::before,
h3::after {
	content: '';
	display: inline-block;
	width: 50px;
	height: 0.5px;
	background: #5e3970;
	margin: 5px;
}

.result_style {
	font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
	font-size: 0.875rem;
	color: #5e3970;
	font-weight: 500;
	width: 220px;
	height: 60px;
	border: 1px solid #5e3970;
	border-radius: 10px;
	margin: 10px auto;
	text-align: center;
	padding: 10px 5px;

}